# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json
*.tfplan
*.tfplan.*
.terraform.lock.hcl
.terraformrc
.terraformrc.yaml

venv/
__pycache__